name: Auto Assign Reviewers

on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  assign-reviewers:
    uses: mindspore-courses/.github/.github/workflows/assign_reviewers.yaml@master
    secrets: inherit