name: Auto Assign Reviewers

on:
  pull_request_target:
    types: [opened, synchronize]

jobs:
  get-reviewers:
    runs-on: ubuntu-latest
    steps:
      - name: Call org-wide reviewer assignment workflow
        uses: mindspore-courses/.github/.github/workflows/assign_reviewers.yaml@master