name: Auto-add hardware label
on:
  issues:
    types: [opened, edited]

permissions:
  issues: write

jobs:
  label-hardware:
    runs-on: ubuntu-latest
    steps:
      - name: Call org-wide issue labeling workflow
        uses: mindspore-courses/.github/.github/workflows/label_issue.yaml@master