name: Auto-add hardware label
on:
  issues:
    types: [opened, edited]

permissions:
  issues: write

jobs:
  label-hardware:
    uses: mindspore-courses/.github/.github/workflows/assign_reviewers.yaml@master
    secrets: inherit